.input-wrap {
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: space-between;
}

.input-wrap-title {
    font-family: Inter;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    color: white;
}

.input-wrap-input {
    outline: none;
    width: 352px;
}

.button-wrap {
    background: #AAF5FF;
    color: black;
    font-family: Inter;
    font-size: 30px;
    font-weight: 400;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.whitespace {
    display: flex;
    background: white;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.whitespace-title {
    font-family: Inter;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    color: white;
}

.sidebar {
  display: flex;
  background: #E9E9E9;
  width: 180px;
  /* height: 1080px; */
  height: 100%; 
  flex-direction: column; /* 设置主轴方向 */
  justify-content: flex-start; /* 设置子元素在主轴上的对齐方式，这里是置顶对齐 */
  align-items: center; /* 设置子元素在交叉轴上的对齐方式，这里是居中对齐 */
}

.sidebar-box {
  width: 180px;
  /* height: 180px; */
  height: auto;
  background: #4F5590;
  display: flex;
  flex-direction: column; /* 设置主轴方向 */
  padding-top: 34px;
  padding-bottom: 24.51px;
  align-items: center; /* 设置子元素在交叉轴上的对齐方式，这里是居中对齐 */
}

.sidebar-box-title {
  color: #FFF;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.sidebar-box-logo {
  width: 70px;
  height: 70px;
  margin-bottom: 24.49px;
}

.sidebar-line {
  margin-bottom: 1px;
}