.input-wrap {
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: space-between;
}

.input-wrap-title {
    font-family: Inter;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    color: white;
}

.input-wrap-input {
    outline: none;
    width: 352px;
}

.button-wrap {
    background: #AAF5FF;
    color: black;
    font-family: Inter;
    font-size: 30px;
    font-weight: 400;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.whitespace {
    display: flex;
    background: white;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.whitespace-title {
    font-family: Inter;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    color: white;
}

.sidebar {
  display: flex;
  background: #E9E9E9;
  width: 180px;
  height: 100%; 
  flex-direction: column; /* 设置主轴方向 */
  justify-content: flex-start; /* 设置子元素在主轴上的对齐方式，这里是置顶对齐 */
  align-items: center; /* 设置子元素在交叉轴上的对齐方式，这里是居中对齐 */
  position: fixed;
  left: 0;
  top: 70px;
  bottom: 0;
}

.sidebar-box {
  width: 180px;
  height: auto;
  background: #4F5590;
  display: flex;
  flex-direction: column; /* 设置主轴方向 */
  padding-top: 34px;
  padding-bottom: 24.51px;
  align-items: center; /* 设置子元素在交叉轴上的对齐方式，这里是居中对齐 */
}

.sidebar-box.active {
  background: #2797FF;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.25);
}

.sidebar-box-title {
  color: #FFF;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.sidebar-box-logo {
  width: 70px;
  height: 70px;
  margin-bottom: 24.49px;
}

.sidebar-line {
  margin-bottom: 1px;
}

.pageFunctionTitle {
  color: #FFF;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: fixed;
  top: 240px;
}

.FunctionPageInPut {
  width: 341px;
  height: 34px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #000;
  background: #FFF;
  box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.25);
}