.data {
  background: #FAFAFA;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 200%;
}

.data-1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.data-1-1 {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.data-row-1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 30px;
}

.data-row-1-box-1 {
  width: 51.7%;
  height: 400px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  margin-left: 4.597%;
  margin-right: 4.597%;
}

.data-row-1-box-1-row-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 30px;
}

.data-row-1-box-1-row-1-title-1 {
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 5.56%;
  margin-right: 38.67%;
}

.data-row-1-box-1-row-1-title-2 {
  flex-direction: column;
  flex-shrink: 0;
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.data-row-1-box-1-row-2 {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.data-row-1-box-1-row-2-title {
  color: #000;
  font-family: Inter;
  /* font-size: 30px; */
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 8.89%;
  margin-right: 11%;
}

.data-row-1-box-1-row-2-box {
  display: flex;
  flex-direction: column;
  width: 36.797%;
}

.data-row-1-box-1-row-2-box-title {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.data-row-1-box-1-row-2-box-box {
  width: 100%;
  height: 7px;
  flex-shrink: 0;
  background: #4F5590;
}

.data-row-1-box-1-row-2-box-box-progress {
  width: 3.019%;
  height: 7px;
  flex-shrink: 0;
  background: #2797FF;
}

.data-row-1-box-1-row-3 {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.data-row-1-box-1-row-3-title {
  margin-left: 5.56%;
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.data-row-1-box-1-row-3-diagram {
  margin-left: 5.56%;
  margin-right: 5.56%;
  margin-top: 20px;
}

.data-row-1-box-2 {
  width: 34.48%;
  height: 400px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
}

.data-row-1-box-2-header {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 20px;
  margin-left: 8.333%;
}

.data-row-1-box-2-line {
  height: 1px;
  background: #D3D3D3;
  margin-top: 16px;
}

.data-row-1-box-2-body {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.data-row-1-box-2-body-box {
  display: flex;
  flex-direction: column;
  width: 53.667%;
}

.data-row-1-box-2-body-box-row-1 {
  display: flex;
  flex-direction: row;
  margin-top: 44px;
  margin-left: 15.5279%;
}

.data-row-1-box-2-body-box-row-1-title {
  color: #5BC49F;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 65px;
  white-space: nowrap;
}

.data-row-1-box-2-body-box-row-1-number {
  color: #000;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.data-row-1-box-2-body-box-row-2 {
  display: flex;
  flex-direction: row;
  margin-left: 15.5279%;
  margin-top: 44px;
}

.data-row-1-box-2-body-box-row-2-title {
  color: #2797FF;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 29px;
}

.data-row-1-box-2-body-box-row-2-number {
  color: #000;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.data-row-1-box-2-body-box-row-3 {
  display: flex;
  flex-direction: row;
  margin-left: 15.5279%;
  margin-top: 44px;
}

.data-row-1-box-2-body-box-row-3-title {
  color: #FEB64D;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 29px;
}

.data-row-1-box-2-body-box-row-3-number {
  color: #000;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.data-row-1-box-2-body-box-row-4 {
  display: flex;
  flex-direction: row;
  margin-left: 15.5279%;
  margin-top: 44px;
}

.data-row-1-box-2-body-box-row-4-title {
  color: #32D3EB;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 25px;
}

.data-row-1-box-2-body-box-row-4-number {
  color: #000;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.data-row-1-box-2-body-diagram {
  margin-top: 41px;
  margin-right: 8%;
  width: 230px;
  height: 230px;
}

.data-row-2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 40px;
}

.data-row-2-box-1 {
  width: 51.7%;
  height: 247px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  margin-left: 4.597%;
  margin-right: 4.597%;
  display: flex;
  flex-direction: column;
}

.data-row-2-box-1-header {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 5.56%;
  margin-top: 20px;
}

.data-row-2-box-1-line {
  width: 100%;
  height: 1px;
  background: #D3D3D3;
  margin-top: 16px;
}

.data-row-2-box-1-box {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.data-row-2-box-1-box-connect {
  margin-right: 6px;
}

.data-row-2-box-2 {
  width: 34.48%;
  height: 247px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.data-row-2-box-2-header {
  margin-top: 20px;
  margin-left: 8.333%;
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.data-row-2-box-2-line {
  width: 100%;
  height: 1px;
  background: #D3D3D3;
  margin-top: 16px;
}

.data-row-2-box-2-box {
  display: flex;
  flex-direction: row;
}

.data-row-2-box-2-body {
  display: flex;
  flex-direction: column;
  width: 65.8333%;
  height: 100%;
}

.data-row-2-box-2-body-row-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 12.6582%;
  margin-top: 41px;
}

.data-row-2-box-2-body-row-1-title {
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 35px;
}

.data-row-2-box-2-body-row-1-number {
  color: #000;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.data-row-2-box-2-body-row-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 12.6582%;
  margin-top: 41px;
}

.data-row-2-box-2-body-row-2-title {
  color: #6CB96C;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 19px;
}

.data-row-2-box-2-group {
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  margin-top: 28px;
}

.data-row-3 {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 40px;
}

.data-row-3-box-1 {
  width: 51.7%;
  height: 386px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  margin-left: 4.597%;
  margin-right: 4.597%;
}

.data-row-3-box-1-header {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 5.56%;
  margin-top: 20px;
}

.data-row-3-box-1-line {
  width: 100%;
  height: 1px;
  background: #D3D3D3;
  margin-top: 16px;
  margin-bottom: 10px; 
}

.data-row-3-box-1-row {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-left: 5.56%;
  margin-right: 5.56%;
}

.data-row-3-box-1-row-block {
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #E9E9E9;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 14px;
}

.data-row-3-box-1-row-title {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.data-row-3-box-1-row-time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.data-row-3-box-1-row-time-number {
  color: #2797FF;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.data-row-3-box-1-row-time-time {
  color: #000;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.data-row-3-box-1-row-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 13.625%;
  margin-right: 13.625%;
}

.data-row-3-box-1-row-info-number {
  color: #2797FF;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.data-row-3-box-1-row-info-time {
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.data-row-3-box-1-row-validate {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.data-row-3-box-1-row-validate-title {
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.data-row-3-box-1-row-validate-name {
  color: #2797FF;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.data-row-3-box-1-row-line {
  margin-left: 5.56%;
  width: 83%;
  height: 1px;
  background: #D3D3D3;
  margin-top: 10px;
}

.data-row-3-box-1-row-longLine {
  width: 100%;
  height: 1px;
  background: #D3D3D3;
  margin-top: 10px; 
}

.data-row-3-box-1-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.data-row-3-box-1-button-title {
  color: #2797FF;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.data-row-3-box-1-button-arrow {
  margin-left: 11px;
}

.data-row-3-box-2 {
  width: 34.48%;
  height: 386px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.data-row-3-box-2-header {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 20px;
  margin-left: 8.333%;
}

.data-row-3-box-2-line {
  width: 100%;
  height: 1px;
  background: #D3D3D3;
  margin-top: 16px;
}

.data-row-3-box-2-row-1 {
  display: flex;
  flex-direction: row;
  margin-left: 20.8333%;
  margin-top: 41px;
  align-items: center;
}

.data-row-3-box-2-row-1-title {
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 29.1667%;
}

.data-row-3-box-2-row-1-status {
  color: #6CB96C;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.data-row-3-box-2-row-2 {
  display: flex;
  flex-direction: row;
  margin-left: 20.8333%;
  margin-top: 25px;
  align-items: center;
}

.data-row-3-box-2-row-2-title-1 {
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 32.5%;
}

.data-row-3-box-2-row-2-title-2 {
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.data-row-3-box-2-row-3 {
  display: flex;
  flex-direction: row;
  margin-left: 20.8333%;
  margin-top: 20px;
  align-items: center;
}

.data-row-3-box-2-row-3-number-1 {
  color: #000;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 37%;
}

.data-row-3-box-2-row-3-number-2 {
  color: #000;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.data-row-3-box-2-row-4 {
  display: flex;
  flex-direction: row;
  margin-left: 20.8333%;
  margin-top: 30px;
  align-items: center;
}

.data-row-3-box-2-row-4-title-1 {
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 35.3333%;
}

.data-row-3-box-2-row-4-title-2 {
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.data-row-3-box-2-row-5 {
  display: flex;
  flex-direction: row;
  margin-left: 20.8333%;
  margin-top: 20px;
  align-items: center;
}

.data-row-3-box-2-row-5-number-1 {
  color: #000;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 34.6667%;
}

.data-row-3-box-2-row-5-number-2 {
  color: #000;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.data-row-4 {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 40px;
}

.data-row-4-box {
  width: 51.7%;
  height: 386px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  margin-left: 4.597%;
}

.data-row-4-box-header {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 5.56%;
  margin-top: 20px;
}

.data-row-4-box-line {
  width: 100%;
  height: 1px;
  background: #D3D3D3;
  margin-top: 16px;
  margin-bottom: 10px;
}

.data-row-4-box-row {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-left: 5.56%;
  margin-right: 5.56%;
}

.data-row-4-box-row-block {
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #E9E9E9;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 14px;
}

.data-row-4-box-row-title {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.data-row-4-box-row-time {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.data-row-4-box-row-time-number {
  color: #2797FF;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal; 
}

.data-row-4-box-row-time-time {
  color: #000;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.data-row-4-box-row-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 7%;
  margin-right: 7%;
}

.data-row-4-box-row-info-number {
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.data-row-4-box-row-info-time {
  color: #2797FF;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.data-row-4-box-row-validate {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.data-row-4-box-row-validate-title {
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.data-row-4-box-row-validate-name {
  color: #2797FF;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.data-row-4-box-row-line {
  margin-left: 5.56%;
  width: 83%;
  height: 1px;
  background: #D3D3D3;
  margin-top: 10px;
}

.data-row-4-box-longLine {
  width: 100%;
  height: 1px;
  background: #D3D3D3;
  margin-top: 10px;  
}

.data-row-4-box-row-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.data-row-4-box-row-button-title {
  color: #2797FF;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.data-row-4-box-row-button-arrow {
  margin-left: 11px;
}