/* .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 200px;
}

.header-title {
    color: #AAF5FF;
    font-family: Inter;
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 0em;
}

.header-type {
    font-family: Inter;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    color: #AAF5FF;

} */

.header {
  height: 70px;
  background: #FFF;
  box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.25);
  display: flex; /* 声明该容器使用弹性布局 */
  flex-direction: row; /* 设置主轴方向，这里是水平方向 */
  align-items: center; /* 设置子元素在交叉轴上的对齐方式，这里是居中对齐 */
  padding-left: 29px;
  padding-right: 80px;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.header-1 {
  display: flex;
  align-items: center; /* 设置子元素在交叉轴上的对齐方式，这里是居中对齐 */
}

.header-2 {
  display: flex;
  align-items: center; /* 设置子元素在交叉轴上的对齐方式，这里是居中对齐 */
}

.header-title {
  width: 240px;
  flex-direction: column;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header-logo {
  width: 50px;
  height: 49.296px;
  margin-right: 12px;
}

.header-account-png {
  margin-right: 8px;
}

.header-account-name {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /* justify-content: right; */
}

.innerHeader-line {
  height: 1px;
  background: #000;
  position: fixed;
  width: 100%;
  top: 174px;
  left: 180px;
  right: 0;
}

.innerHeader {
  display: flex; 
  flex-direction: row; 
  background: #0F0C37;
  height: 66px;
  padding-top: 26px;
  padding-bottom: 12px;
  padding-left: 420px;
  padding-right: 80px;
  justify-content: space-between;
  position: fixed;
  top: 70px;
  left: 180px;
  right: 0;
}

.innerHeader-1 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.innerHeader-back-logo {
  width: 30px;
  height: 30px;
  margin-bottom: 4px;
}

.innerHeader-title {
  color: #FFF;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 11px;
}

.innerHeader-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 35px;
  background: #E9E9E9;
  width: 200px;
  height: 30px;
  flex-shrink: 0;
  padding-left: 11px;
}

.innerHeader-2-name {
  display: flex;
  width: 64.8px;
  flex-direction: column;
  flex-shrink: 0;
  color: #484848;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.innerHeader-2-address {
  display: flex;
  width: 123.6px;
  flex-direction: column;
  flex-shrink: 0;
  color: #484848;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}