/* .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 200px;
}

.header-title {
    color: #AAF5FF;
    font-family: Inter;
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 0em;
}

.header-type {
    font-family: Inter;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    color: #AAF5FF;

} */

.header {
  /* width: 100%; */
  height: 70px;
  flex-shrink: 0;
  background: #FFF;
  box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.25);
  display: flex; /* 声明该容器使用弹性布局 */
  flex-direction: row; /* 设置主轴方向，这里是水平方向 */
  align-items: center; /* 设置子元素在交叉轴上的对齐方式，这里是居中对齐 */
  padding-left: 29px;
  padding-right: 80px;
  justify-content: space-between;
}
.header-1 {
  display: flex;
  align-items: center; /* 设置子元素在交叉轴上的对齐方式，这里是居中对齐 */
}

.header-2 {
  display: flex;
  align-items: center; /* 设置子元素在交叉轴上的对齐方式，这里是居中对齐 */
}

.header-title {
  width: 240px;
  flex-direction: column;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header-logo {
  width: 50px;
  height: 49.296px;
  margin-right: 12px;
}

.header-account-png {
  margin-right: 8px;
}

.header-account-name {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /* justify-content: right; */
}

.innerHeader {
  /* width: 100%; */
  display: flex; 
  flex-direction: row; /* 设置主轴方向，这里是水平方向 */
  align-items: center; /* 设置子元素在交叉轴上的对齐方式，这里是居中对齐 */
  justify-content: space-between; 
  padding-left: 280px;
}

.innerHeader-title {
  color: #FFF;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}