.SupplierPage2 {
    background-color: #0f0b37;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .SupplierPage2 .overlap-wrapper {
    background-color: #0f0b37;
    border: 1px none;
    height: 1080px;
    overflow: hidden;
    width: 1920px;
  }
  
  .SupplierPage2 .overlap {
    height: 1080px;
    position: relative;
    width: 1924px;
  }
  
  .SupplierPage2 .overlap-group {
    height: 1080px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1924px;
  }
  
  .SupplierPage2 .view {
    background-color: #e8e8e8;
    height: 1080px;
    left: 0;
    position: absolute;
    top: 0;
    width: 180px;
  }
  
  .SupplierPage2 .overlap-group-wrapper {
    height: 180px;
    left: 0;
    position: absolute;
    top: 70px;
    width: 182px;
  }
  
  .SupplierPage2 .div {
    background-color: #4e5590;
    height: 180px;
    position: relative;
    width: 180px;
  }
  
  .SupplierPage2 .text-wrapper {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 38px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 128px;
    white-space: nowrap;
    width: 105px;
  }
  
  .SupplierPage2 .line {
    height: 1px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 179px;
    width: 180px;
  }
  
  .SupplierPage2 .img {
    height: 70px;
    left: 55px;
    position: absolute;
    top: 34px;
    width: 70px;
  }
  
  .SupplierPage2 .overlap-2 {
    height: 359px;
    left: 0;
    position: absolute;
    top: 251px;
    width: 182px;
  }
  
  .SupplierPage2 .div-wrapper {
    height: 180px;
    left: 0;
    position: absolute;
    top: 0;
    width: 182px;
  }
  
  .SupplierPage2 .overlap-3 {
    background-color: #2797ff;
    box-shadow: 0px 0px 5px 3px #00000040;
    height: 180px;
    position: relative;
    width: 180px;
  }
  
  .SupplierPage2 .text-wrapper-2 {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 38px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 130px;
    white-space: nowrap;
    width: 105px;
  }
  
  .SupplierPage2 .line-2 {
    height: 1px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 178px;
    width: 180px;
  }
  
  .SupplierPage2 .view-2 {
    height: 180px;
    left: 0;
    position: absolute;
    top: 179px;
    width: 182px;
  }
  
  .SupplierPage2 .overlap-4 {
    background-color: #4f5590;
    height: 180px;
    position: relative;
    width: 180px;
  }
  
  .SupplierPage2 .investment-portfolio {
    height: 70px;
    left: 55px;
    position: absolute;
    top: 35px;
    width: 70px;
  }
  
  .SupplierPage2 .tittle {
    height: 70px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1924px;
  }
  
  .SupplierPage2 .overlap-5 {
    background-color: #ffffff;
    box-shadow: 0px 0px 4px 3px #00000040;
    height: 70px;
    position: relative;
    width: 1920px;
  }
  
  .SupplierPage2 .text-wrapper-3 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 91px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 21px;
    width: 240px;
  }
  
  .SupplierPage2 .image {
    height: 49px;
    left: 29px;
    position: absolute;
    top: 10px;
    width: 50px;
  }
  
  .SupplierPage2 .text-wrapper-4 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 1800px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 23px;
    white-space: nowrap;
  }
  
  .SupplierPage2 .account {
    height: 30px;
    left: 1762px;
    position: absolute;
    top: 20px;
    width: 30px;
  }
  
  .SupplierPage2 .h-1 {
    color: #ffffff;
    font-family: "Inter-Bold", Helvetica;
    font-size: 30px;
    font-weight: 700;
    left: 641px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 125px;
    white-space: nowrap;
  }
  
  .SupplierPage2 .text-wrapper-5 {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 30px;
    font-weight: 400;
    left: 960px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 239px;
    white-space: nowrap;
  }
  
  .SupplierPage2 .view-3 {
    height: 30px;
    left: 1640px;
    position: absolute;
    top: 96px;
    width: 204px;
  }
  
  .SupplierPage2 .overlap-6 {
    background-color: #e8e8e8;
    border-radius: 35px;
    height: 30px;
    position: relative;
    width: 200px;
  }
  
  .SupplierPage2 .text-wrapper-6 {
    color: #484848;
    font-family: "Inter-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    left: 11px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 4px;
    width: 65px;
  }
  
  .SupplierPage2 .text-wrapper-7 {
    color: #484848;
    font-family: "Inter-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    left: 76px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 4px;
    width: 124px;
  }
  
  .SupplierPage2 .back {
    height: 30px;
    left: 600px;
    position: absolute;
    top: 154px;
    width: 30px;
  }
  
  .SupplierPage2 .line-3 {
    height: 1px;
    left: 180px;
    object-fit: cover;
    position: absolute;
    top: 190px;
    width: 1740px;
  }
  
  .SupplierPage2 .view-4 {
    height: 22px;
    left: 826px;
    position: absolute;
    top: 850px;
    width: 450px;
  }
  
  .SupplierPage2 .rectangle-wrapper {
    background-color: #c7daff;
    height: 5px;
    left: 48px;
    position: absolute;
    top: 9px;
    width: 400px;
  }
  
  .SupplierPage2 .rectangle {
    background-color: #2797ff;
    height: 5px;
  }
  
  .SupplierPage2 .text-wrapper-8 {
    color: #2797ff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .SupplierPage2 .view-5 {
    height: 300px;
    left: 600px;
    position: absolute;
    top: 412px;
    width: 904px;
  }
  
  .SupplierPage2 .overlap-7 {
    border: 1px solid;
    border-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 3px #72727233;
    height: 300px;
    position: relative;
    width: 900px;
  }
  
  .SupplierPage2 .line-4 {
    height: 1px;
    left: -1px;
    object-fit: cover;
    position: absolute;
    top: 238px;
    width: 900px;
  }
  
  .SupplierPage2 .view-6 {
    height: 32px;
    left: 685px;
    position: absolute;
    top: 253px;
    width: 181px;
  }
  
  .SupplierPage2 .overlap-group-2 {
    background-color: #273f63;
    height: 32px;
    position: relative;
    width: 179px;
  }
  
  .SupplierPage2 .text-wrapper-9 {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 44px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 5px;
    white-space: nowrap;
  }
  
  .SupplierPage2 .bullet-list {
    height: 30px;
    left: 11px;
    position: absolute;
    top: 2px;
    width: 30px;
  }
  
  .SupplierPage2 .text-wrapper-10 {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 30px;
    font-weight: 400;
    left: 449px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 75px;
    white-space: nowrap;
  }
  
  .SupplierPage2 .ok {
    height: 90px;
    left: 329px;
    position: absolute;
    top: 48px;
    width: 90px;
  }
  
  .SupplierPage2 .text-wrapper-11 {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    left: 102px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 168px;
  }
  
  .SupplierPage2 .view-7 {
    height: 20px;
    left: 226px;
    position: absolute;
    top: 169px;
    width: 496px;
  }
  
  .SupplierPage2 .overlap-8 {
    background-color: #d9d9d933;
    border-radius: 5px;
    height: 20px;
    position: relative;
    width: 494px;
  }
  
  .SupplierPage2 .text-wrapper-12 {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 9px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 1px;
    white-space: nowrap;
  }
  
  .SupplierPage2 .view-8 {
    height: 20px;
    left: 736px;
    position: absolute;
    top: 169px;
    width: 62px;
  }
  
  .SupplierPage2 .overlap-9 {
    background-color: #13d4ff;
    border-radius: 5px;
    height: 20px;
    position: relative;
    width: 60px;
  }
  
  .SupplierPage2 .text-wrapper-13 {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 14px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 1px;
    white-space: nowrap;
  }
  