.SupplierPage3 {
  width: 100%;
  height: 100%;
  background: #0F0C37;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.SupplierPage3-box {
  display: flex;
  flex-direction: column;
  margin-left: 220px;
}

.SupplierPage3-box-title {
  display: flex;
  flex-direction: row;
  margin-bottom: 3px;
  margin-left: 15px;
}

.SupplierPage3-box-title-1 {
  color: #FFF;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 104px;
}

.SupplierPage3-box-title-2 {
  color: #FFF;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.SupplierPage3-box-title-3 {
  color: #FFF;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  margin-left: 434px;
}

.SupplierPage3-line {
  margin-top: 8px;
}

.SupplierPage3-product {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-left: 220px;
}

.SupplierPage3-product-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 15px;
}

.SupplierPage3-product-name {
  color: #FFF;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 137px;
}

.SupplierPage3-product-model {
  color: #FFF;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 116px;
}

.SupplierPage3-product-hash {
  color: #FFF;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  width: 465px;
}