.system-screen {
  background-image: url('../../images/background_image_1.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.system-screen-box {
  width: 1200px;
  height: 600px;
  flex-shrink: 0;
  border-radius: 30px;
  background: rgba(217, 217, 217, 0.80);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.system-screen-box-article {
  display: flex;
  width: 1088px;
  flex-direction: column;
  flex-shrink: 0;
  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
