.FactorySidePage2 {
    background-color: #0f0b37;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  
  .FactorySidePage2 .overlap-wrapper {
    background-color: #0f0b37;
    border: 1px none;
    height: 1080px;
    overflow: hidden;
    width: 1920px;
  }
  
  .FactorySidePage2 .overlap {
    height: 1080px;
    position: relative;
    width: 1924px;
  }
  
  .FactorySidePage2 .overlap-group {
    height: 1080px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1924px;
  }
  
  .FactorySidePage2 .view {
    background-color: #e8e8e8;
    height: 1080px;
    left: 0;
    position: absolute;
    top: 0;
    width: 180px;
  }
  
  .FactorySidePage2 .overlap-group-wrapper {
    height: 180px;
    left: 0;
    position: absolute;
    top: 70px;
    width: 182px;
  }
  
  .FactorySidePage2 .div {
    background-color: #4e5590;
    height: 180px;
    position: relative;
    width: 180px;
  }
  
  .FactorySidePage2 .text-wrapper {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 38px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 128px;
    white-space: nowrap;
    width: 105px;
  }
  
  .FactorySidePage2 .line {
    height: 1px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 179px;
    width: 180px;
  }
  
  .FactorySidePage2 .img {
    height: 70px;
    left: 55px;
    position: absolute;
    top: 34px;
    width: 70px;
  }
  
  .FactorySidePage2 .overlap-2 {
    height: 359px;
    left: 0;
    position: absolute;
    top: 251px;
    width: 182px;
  }
  
  .FactorySidePage2 .div-wrapper {
    height: 180px;
    left: 0;
    position: absolute;
    top: 0;
    width: 182px;
  }
  
  .FactorySidePage2 .overlap-3 {
    background-color: #2797ff;
    box-shadow: 0px 0px 5px 3px #00000040;
    height: 180px;
    position: relative;
    width: 180px;
  }
  
  .FactorySidePage2 .text-wrapper-2 {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 38px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 130px;
    white-space: nowrap;
    width: 105px;
  }
  
  .FactorySidePage2 .line-2 {
    height: 1px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 178px;
    width: 180px;
  }
  
  .FactorySidePage2 .view-2 {
    height: 180px;
    left: 0;
    position: absolute;
    top: 179px;
    width: 182px;
  }
  
  .FactorySidePage2 .overlap-4 {
    background-color: #4f5590;
    height: 180px;
    position: relative;
    width: 180px;
  }
  
  .FactorySidePage2 .investment-portfolio {
    height: 70px;
    left: 55px;
    position: absolute;
    top: 35px;
    width: 70px;
  }
  
  .FactorySidePage2 .tittle {
    height: 70px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1924px;
  }
  
  .FactorySidePage2 .overlap-5 {
    background-color: #ffffff;
    box-shadow: 0px 0px 4px 3px #00000040;
    height: 70px;
    position: relative;
    width: 1920px;
  }
  
  .FactorySidePage2 .text-wrapper-3 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 91px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 21px;
    width: 240px;
  }
  
  .FactorySidePage2 .image {
    height: 49px;
    left: 29px;
    position: absolute;
    top: 10px;
    width: 50px;
  }
  
  .FactorySidePage2 .text-wrapper-4 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 1800px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 23px;
    white-space: nowrap;
  }
  
  .FactorySidePage2 .account {
    height: 30px;
    left: 1762px;
    position: absolute;
    top: 20px;
    width: 30px;
  }
  
  .FactorySidePage2 .h-1 {
    color: #ffffff;
    font-family: "Inter-Bold", Helvetica;
    font-size: 30px;
    font-weight: 700;
    left: 641px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 125px;
    white-space: nowrap;
  }
  
  .FactorySidePage2 .view-3 {
    height: 260px;
    left: 600px;
    position: absolute;
    top: 414px;
    width: 902px;
  }
  
  .FactorySidePage2 .overlap-6 {
    border-radius: 10px;
    height: 260px;
    position: relative;
    width: 900px;
  }
  
  .FactorySidePage2 .text-wrapper-5 {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 30px;
    font-weight: 400;
    left: 154px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 70px;
    white-space: nowrap;
  }
  
  .FactorySidePage2 .rectangle {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #000000;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 3px #00000040;
    height: 34px;
    left: 409px;
    position: absolute;
    top: 72px;
    width: 341px;
  }
  
  .FactorySidePage2 .rectangle-2 {
    border: 1px solid;
    border-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 3px #72727233;
    height: 260px;
    left: 0;
    position: absolute;
    top: 0;
    width: 900px;
    pointer-events: none; /* 禁用元素的鼠标事件，使其不会阻止输入框的点击 */
  }
  
  .FactorySidePage2 .view-4 {
    height: 40px;
    left: 375px;
    position: absolute;
    top: 165px;
    width: 152px;
  }
  
  .FactorySidePage2 .overlap-group-2 {
    background-color: #1d5fdf;
    border: 1px solid;
    border-color: #000000;
    border-radius: 10px;
    height: 40px;
    position: relative;
    width: 150px;
  }
  
  .FactorySidePage2 .text-wrapper-6 {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 54px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 7px;
    white-space: nowrap;
  }
  
  .FactorySidePage2 .text-wrapper-7 {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 30px;
    font-weight: 400;
    left: 960px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 239px;
    white-space: nowrap;
  }
  
  .FactorySidePage2 .view-5 {
    height: 30px;
    left: 1640px;
    position: absolute;
    top: 96px;
    width: 204px;
  }
  
  .FactorySidePage2 .overlap-7 {
    background-color: #e8e8e8;
    border-radius: 35px;
    height: 30px;
    position: relative;
    width: 200px;
  }
  
  .FactorySidePage2 .text-wrapper-8 {
    color: #484848;
    font-family: "Inter-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    left: 11px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 4px;
    width: 65px;
  }
  
  .FactorySidePage2 .text-wrapper-9 {
    color: #484848;
    font-family: "Inter-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    left: 76px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 4px;
    width: 124px;
  }
  
  .FactorySidePage2 .back {
    height: 30px;
    left: 600px;
    position: absolute;
    top: 154px;
    width: 30px;
  }
  
  .FactorySidePage2 .line-3 {
    height: 1px;
    left: 180px;
    object-fit: cover;
    position: absolute;
    top: 190px;
    width: 1740px;
  }
  