.FactorySidePage1 {
  background-color: #0f0b37;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.FactorySidePage1-1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.FactorySidePage1-1-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.FactorySidePage1-box {
  width: 900px;
  height: 457px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #FFF;
  background: rgba(233, 233, 233, 0.00);
  box-shadow: 0px 0px 3px 3px rgba(115, 115, 115, 0.20);
  margin-top: 81px;
  display: flex;
  flex-direction: column;
}

.FactorySidePage1-box-1 {
  display: flex;
  flex-direction: row;
  margin-top: 49px;
  margin-bottom: 39px;
  align-items: center;
  justify-content: center;
}

.FactorySidePage1-logo {
  margin-right: 30px;
}

.FactorySidePage1-box-1-title {
  color: #FFF;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.FactorySidePage1-line {
  margin-bottom: 12px;
}

.FactorySidePage1-box-2 {
  display: flex;
  flex-direction: column;
  margin-left: 150px;
  margin-bottom: 11px;
}

.FactorySidePage1-box-2-title {
  color: #FFF;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal; 
}

.FactorySidePage1-box-2-name {
  color: #FFF;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}