.FactorySidePage3 {
  background-color: #0f0b37;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.FactorySidePage3-1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%; 
}

.FactorySidePage3-1-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1; 
}

.FactorySidePage3-box {
  width: 900px;
  height: 360px;
  flex-shrink: 0;  
  border-radius: 10px;
  border: 1px solid #FFF;
  background: rgba(233, 233, 233, 0.00);
  box-shadow: 0px 0px 3px 3px rgba(115, 115, 115, 0.20);
  display: flex;
  flex-direction: column;
  margin-top: 81px;
}

.FactorySidePage3-box-1 {
  display: flex;
  flex-direction: column;
  margin-left: 150px;
  margin-top: 32px;
}

.FactorySidePage3-box-1-name {
  color: #FFF;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.FactorySidePage3-box-1-hash {
  display: flex;
  width: 600px;
  flex-direction: column;
  flex-shrink: 0;
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.FactorySidePage3-line {
  margin-top: 35px;
}

.FactorySidePage3-box-2 {
  width: 900px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 0px 0px 10px 10px;
  background: #13D5FF;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

.FactorySidePage3-box-2-title {
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}