.FactorySidePage9 {
  width: 100%;
  height: 100%;
  background: #0F0C37;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.FactorySidePage9-box {
  display: flex;
  flex-direction: column;
  margin-left: 220px;
}

.FactorySidePage9-box-title {
  display: flex;
  flex-direction: row;
  margin-bottom: 3px;
  margin-left: 15px;
}

.FactorySidePage9-box-title-1 {
  color: #FFF;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 104px;
}

.FactorySidePage9-box-title-2 {
  color: #FFF;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.FactorySidePage9-line {
  margin-top: 8px;
}

.FactorySidePage9-product {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-left: 220px;
}

.FactorySidePage9-product-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 15px;
}

.FactorySidePage9-product-name {
  color: #FFF;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 137px;
}

.FactorySidePage9-product-model {
  color: #FFF;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}