.UserTerminal {
    background-color: #f9f9f9;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  
  .UserTerminal .overlap-wrapper {
    background-color: #f9f9f9;
    border: 1px none;
    height: 1080px;
    overflow: hidden;
    width: 1920px;
  }
  
  .UserTerminal .overlap {
    /* height: 1080px; */
    height: 100%;
    position: relative;
    width: 1924px;
  }
  
  .UserTerminal .overlap-group {
    /* height: 1080px; */
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 1924px;
  }
  
  .UserTerminal .view {
    background-color: #e8e8e8;
    height: 1080px;
    left: 0;
    position: absolute;
    top: 0;
    width: 180px;
  }
  
  .UserTerminal .overlap-group-wrapper {
    height: 180px;
    left: 0;
    position: absolute;
    top: 70px;
    width: 182px;
  }
  
  .UserTerminal .div {
    background-color: #4e5590;
    height: 180px;
    position: relative;
    width: 180px;
  }
  
  .UserTerminal .text-wrapper {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 38px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 128px;
    white-space: nowrap;
    width: 105px;
  }
  
  .UserTerminal .line {
    height: 1px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 179px;
    width: 180px;
  }
  
  .UserTerminal .img {
    height: 70px;
    left: 55px;
    position: absolute;
    top: 34px;
    width: 70px;
  }
  
  .UserTerminal .overlap-2 {
    height: 359px;
    left: 0;
    position: absolute;
    top: 251px;
    width: 182px;
  }
  
  .UserTerminal .div-wrapper {
    height: 180px;
    left: 0;
    position: absolute;
    top: 0;
    width: 182px;
  }
  
  .UserTerminal .overlap-3 {
    background-color: #2797ff;
    box-shadow: 0px 0px 5px 3px #00000040;
    height: 180px;
    position: relative;
    width: 180px;
  }
  
  .UserTerminal .text-wrapper-2 {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 38px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 130px;
    white-space: nowrap;
    width: 105px;
  }
  
  .UserTerminal .line-2 {
    height: 1px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 178px;
    width: 180px;
  }
  
  .UserTerminal .view-2 {
    height: 180px;
    left: 0;
    position: absolute;
    top: 179px;
    width: 182px;
  }
  
  .UserTerminal .overlap-4 {
    background-color: #4f5590;
    height: 180px;
    position: relative;
    width: 180px;
  }
  
  .UserTerminal .investment-portfolio {
    height: 70px;
    left: 55px;
    position: absolute;
    top: 35px;
    width: 70px;
  }
  
  .UserTerminal .tittle {
    height: 70px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1924px;
  }
  
  .UserTerminal .overlap-5 {
    background-color: #ffffff;
    box-shadow: 0px 0px 4px 3px #00000040;
    height: 70px;
    position: relative;
    width: 1920px;
  }
  
  .UserTerminal .text-wrapper-3 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 91px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 21px;
    width: 240px;
  }
  
  .UserTerminal .image {
    height: 49px;
    left: 29px;
    position: absolute;
    top: 10px;
    width: 50px;
  }
  
  .UserTerminal .text-wrapper-4 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 1800px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 23px;
    white-space: nowrap;
  }
  
  .UserTerminal .account {
    height: 30px;
    left: 1762px;
    position: absolute;
    top: 20px;
    width: 30px;
  }
  
  .UserTerminal .view-3 {
    height: 180px;
    left: 890px;
    position: absolute;
    top: 174px;
    width: 602px;
  }
  
  .UserTerminal .overlap-6 {
    background-color: #4f5590;
    border-radius: 30px;
    height: 180px;
    position: relative;
    width: 600px;
  }
  
  .UserTerminal .h-1 {
    color: #ffffff;
    font-family: "Inter-Bold", Helvetica;
    font-size: 50px;
    font-weight: 700;
    left: 280px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 25px;
  }
  
  .UserTerminal .vector {
    height: 121px;
    left: 80px;
    position: absolute;
    top: 30px;
    width: 120px;
  }
  
  .UserTerminal .view-4 {
    height: 180px;
    left: 430px;
    position: absolute;
    top: 414px;
    width: 602px;
  }
  
  .UserTerminal .overlap-7 {
    background-color: #4f5590;
    border-radius: 30px;
    box-shadow: 0px 0px 5px 5px #00000040;
    height: 180px;
    position: relative;
    width: 600px;
  }
  
  .UserTerminal .text-wrapper-5 {
    color: #ffffff;
    font-family: "Inter-Bold", Helvetica;
    font-size: 50px;
    font-weight: 700;
    left: 280px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 29px;
  }
  
  .UserTerminal .group {
    background-image: url(../../images/Group\ 8.svg);
    background-size: 100% 100%;
    height: 120px;
    left: 80px;
    position: absolute;
    top: 30px;
    width: 120px;
  }
  
  .UserTerminal .overlap-group-2 {
    height: 72px;
    left: 27px;
    position: relative;
    top: 38px;
    width: 66px;
  }
  
  .UserTerminal .rectangle {
    background-color: #f2cca2;
    height: 72px;
    left: 4px;
    position: absolute;
    top: 0;
    width: 62px;
  }
  
  .UserTerminal .vector-2 {
    height: 58px;
    left: 0;
    position: absolute;
    top: 14px;
    width: 66px;
  }
  
  .UserTerminal .view-5 {
    height: 180px;
    left: 890px;
    position: absolute;
    top: 654px;
    width: 604px;
  }
  
  .UserTerminal .overlap-8 {
    background-color: #2797ff;
    border-radius: 30px;
    height: 180px;
    position: relative;
    width: 600px;
  }
  
  .UserTerminal .text-wrapper-6 {
    color: #ffffff;
    font-family: "Inter-Bold", Helvetica;
    font-size: 50px;
    font-weight: 700;
    left: 280px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 37px;
  }
  
  .UserTerminal .text-wrapper-7 {
    color: #ffffff;
    font-family: "Inter-Bold", Helvetica;
    font-size: 30px;
    font-weight: 700;
    left: 280px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-decoration: underline;
    top: 106px;
    white-space: nowrap;
  }
  
  .UserTerminal .vector-3 {
    height: 76px;
    left: 80px;
    position: absolute;
    top: 52px;
    width: 120px;
  }
  