.UserTerminalPage2 {
    background-color: #0f0b37;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .UserTerminalPage2 .overlap-wrapper {
    background-color: #0f0b37;
    border: 1px none;
    height: 1080px;
    overflow: hidden;
    width: 1920px;
  }
  
  .UserTerminalPage2 .overlap {
    height: 1080px;
    position: relative;
    width: 1924px;
  }
  
  .UserTerminalPage2 .overlap-group {
    height: 1080px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1924px;
  }
  
  .UserTerminalPage2 .view {
    background-color: #e8e8e8;
    height: 1080px;
    left: 0;
    position: absolute;
    top: 0;
    width: 180px;
  }
  
  .UserTerminalPage2 .overlap-group-wrapper {
    height: 180px;
    left: 0;
    position: absolute;
    top: 70px;
    width: 182px;
  }
  
  .UserTerminalPage2 .div {
    background-color: #4e5590;
    height: 180px;
    position: relative;
    width: 180px;
  }
  
  .UserTerminalPage2 .text-wrapper {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 38px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 128px;
    white-space: nowrap;
    width: 105px;
  }
  
  .UserTerminalPage2 .line {
    height: 1px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 179px;
    width: 180px;
  }
  
  .UserTerminalPage2 .img {
    height: 70px;
    left: 55px;
    position: absolute;
    top: 34px;
    width: 70px;
  }
  
  .UserTerminalPage2 .overlap-2 {
    height: 359px;
    left: 0;
    position: absolute;
    top: 251px;
    width: 182px;
  }
  
  .UserTerminalPage2 .div-wrapper {
    height: 180px;
    left: 0;
    position: absolute;
    top: 0;
    width: 182px;
  }
  
  .UserTerminalPage2 .overlap-3 {
    background-color: #2797ff;
    box-shadow: 0px 0px 5px 3px #00000040;
    height: 180px;
    position: relative;
    width: 180px;
  }
  
  .UserTerminalPage2 .text-wrapper-2 {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 38px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 130px;
    white-space: nowrap;
    width: 105px;
  }
  
  .UserTerminalPage2 .line-2 {
    height: 1px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 178px;
    width: 180px;
  }
  
  .UserTerminalPage2 .view-2 {
    height: 180px;
    left: 0;
    position: absolute;
    top: 179px;
    width: 182px;
  }
  
  .UserTerminalPage2 .overlap-4 {
    background-color: #4f5590;
    height: 180px;
    position: relative;
    width: 180px;
  }
  
  .UserTerminalPage2 .investment-portfolio {
    height: 70px;
    left: 55px;
    position: absolute;
    top: 35px;
    width: 70px;
  }
  
  .UserTerminalPage2 .tittle {
    height: 70px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1924px;
  }
  
  .UserTerminalPage2 .overlap-5 {
    background-color: #ffffff;
    box-shadow: 0px 0px 4px 3px #00000040;
    height: 70px;
    position: relative;
    width: 1920px;
  }
  
  .UserTerminalPage2 .text-wrapper-3 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 91px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 21px;
    width: 240px;
  }
  
  .UserTerminalPage2 .image {
    height: 49px;
    left: 29px;
    position: absolute;
    top: 10px;
    width: 50px;
  }
  
  .UserTerminalPage2 .text-wrapper-4 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 1800px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 23px;
    white-space: nowrap;
  }
  
  .UserTerminalPage2 .account {
    height: 30px;
    left: 1762px;
    position: absolute;
    top: 20px;
    width: 30px;
  }
  
  .UserTerminalPage2 .h-1 {
    color: #ffffff;
    font-family: "Inter-Bold", Helvetica;
    font-size: 30px;
    font-weight: 700;
    left: 641px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 125px;
    white-space: nowrap;
  }
  
  .UserTerminalPage2 .text-wrapper-5 {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 30px;
    font-weight: 400;
    left: 960px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 239px;
    white-space: nowrap;
  }
  
  .UserTerminalPage2 .back {
    height: 30px;
    left: 600px;
    position: absolute;
    top: 154px;
    width: 30px;
  }
  
  .UserTerminalPage2 .line-3 {
    height: 1px;
    left: 180px;
    object-fit: cover;
    position: absolute;
    top: 190px;
    width: 1740px;
  }
  
  .UserTerminalPage2 .overlap-6 {
    height: 300px;
    left: 600px;
    position: absolute;
    top: 412px;
    width: 902px;
  }
  
  .UserTerminalPage2 .view-3 {
    height: 300px;
    left: 0;
    position: absolute;
    top: 0;
    width: 902px;
  }
  
  .UserTerminalPage2 .overlap-7 {
    border: 1px solid;
    border-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 3px #72727233;
    height: 300px;
    position: relative;
    width: 900px;
  }
  
  .UserTerminalPage2 .text-wrapper-6 {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 30px;
    font-weight: 400;
    left: 449px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 74px;
    white-space: nowrap;
  }
  
  .UserTerminalPage2 .cancel {
    height: 90px;
    left: 329px;
    position: absolute;
    top: 47px;
    width: 90px;
  }
  
  .UserTerminalPage2 .p {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 100px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 160px;
    width: 700px;
  }
  
  .UserTerminalPage2 .error {
    height: 25px;
    position: absolute;
    top: 235px;
    width: 25px;
    left: 100px;
  }
  